# 1. Setup and Data Loading

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

print('‚úÖ Libraries loaded successfully')

In [4]:
try:
    df = pd.read_csv("../data/01-raw/applications.csv")
    print('‚úÖ Data loaded successfully!\nWith shape:', df.shape)
except FileNotFoundError:
    print('‚ùå Data file not found. Please check the file path.')
except Exception as e:
    print(f'‚ùå Error loading data: {e}')

df.head()

‚úÖ Data loaded successfully!
With shape: (50000, 13)

,application_id,age,income,employment_length,loan_amount,loan_purpose,debt_to_income,credit_history_length,num_credit_lines,utilization_rate,home_ownership,num_delinquencies,default
0,APP0000001,43,53980,10,12112,major_purchase,0.131,7,3,22.2,RENT,0,1
1,APP0000002,21,52586,2,25335,vacation,0.142,0,1,19.8,RENT,0,1
2,APP0000003,32,112395,5,44713,medical,0.202,9,4,26.0,MORTGAGE,0,0
3,APP0000004,57,77387,34,40232,debt_consolidation,0.201,34,16,59.5,MORTGAGE,0,0
4,APP0000005,43,83581,22,22466,vacation,0.257,13,4,30.6,RENT,1,0

In [14]:
# try:
#     df_2023 = pd.read_csv("../data/01-raw/data_2023.csv")
#     print('‚úÖ Data loaded successfully!\nWith shape:', df_2023.shape)
# except FileNotFoundError:
#     print('‚ùå Data file not found. Please check the file path.')
# except Exception as e:
#     print(f'‚ùå Error loading data: {e}')

# df_2023.head().T

# 2. Data Overview

In [8]:
# Basic info
print('üìä Dataset Summary')
print('=' * 50)
print(f"Total applicants: {len(df):,}")
print(f"Features: {len(df.columns) - 1}")
print(f"\nDefault Distribution:")
print(df['default'].value_counts(normalize=True).round(3) * 100)

üìä Dataset Summary
==================================================
Total applicants: 50,000
Features: 12

Default Distribution:
default
0    81.2
1    18.8
Name: proportion, dtype: float64

In [13]:
print("Basic dataset info displayed:")
info_df = pd.DataFrame({
    'Column': df.columns,
    'Data Type': df.dtypes,
    'Non-Null Count': df.notnull().sum(),
    'Unique Values': df.nunique(),
    'Missing Values': df.isnull().sum(),
    'Missing %': (df.isnull().mean() * 100).round(2)
})
info_df

Basic dataset info displayed:

,Column,Data Type,Non-Null Count,Unique Values,Missing Values,Missing %
application_id,application_id,object,50000,50000,0,0.0
age,age,int64,50000,55,0,0.0
income,income,int64,50000,37650,0,0.0
employment_length,employment_length,int64,50000,40,0,0.0
loan_amount,loan_amount,int64,50000,28734,0,0.0
loan_purpose,loan_purpose,object,50000,8,0,0.0
debt_to_income,debt_to_income,float64,50000,540,0,0.0
credit_history_length,credit_history_length,int64,50000,56,0,0.0
num_credit_lines,num_credit_lines,int64,50000,20,0,0.0
utilization_rate,utilization_rate,float64,50000,848,0,0.0
home_ownership,home_ownership,object,50000,3,0,0.0
num_delinquencies,num_delinquencies,int64,50000,5,0,0.0
default,default,int64,50000,2,0,0.0

In [ ]:
fig, ax = plt.subplots(figsize=(15, 6))